@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* The font-family is now globally controlled by Tailwind's default sans setting in tailwind.config.js */